<div class='row'>
  <div class='col-12'>
    <link rel="stylesheet" type="text/css" href='{{ (resources.Get "js/libs/jquery-ui/jquery-ui.min.css"|fingerprint).RelPermalink}}'>
    <link rel="stylesheet" type="text/css" href='{{ (resources.Get "js/libs/openlayers3/ol.css"            |fingerprint|minify).RelPermalink}}'>
    <link rel="stylesheet" type="text/css" href='{{ (resources.Get "js/libs/spectrum/spectrum.css"         |fingerprint|minify).RelPermalink}}'>
    <link rel="stylesheet" type="text/css" href='{{ (resources.Get "js/libs/jstree/themes/mixed/style.css" |fingerprint|minify).RelPermalink}}'>

    <script src='{{ (resources.Get "js/libs/jquery/jquery-3.1.1.min.js").RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/jquery-ui/jquery-ui.min.js").RelPermalink }}'></script>

    <script src='{{ (resources.Get "js/libs/spectrum/spectrum.js" |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/other/BinaryHeap.js"  |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/tween/tween.min.js"   |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/d3/d3.js"             |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/proj4/proj4.js"       |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/openlayers3/ol.js"    |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/i18next/i18next.js"   |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/jstree/jstree.js"     |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/potree/potree.js"     |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/plasio/js/laslaz.js"  |fingerprint|minify).RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/libs/three.js/build/three.js"  |fingerprint|minify).RelPermalink }}'></script>

    <div id="potree_container" class="potree_container">
        <div id="potree_render_area"></div>
        <div id="potree_sidebar_container"> </div>
    </div>

    <script type="module">
      const hostParts = window.location.protocol + "//" + window.location.host
      Potree.scriptPath = hostParts + "/potree"
      Potree.resourcePath = Potree.scriptPath + "/resources"

      window.viewer = new Potree.Viewer(document.getElementById("potree_render_area"))
        
      viewer.setEDLEnabled(false)
      viewer.setFOV(70)
      viewer.setPointBudget(1_000_000)
      let fitToScreenOnLoad = true
      let settingsData = {}
      viewer.setBackground("gradient")

      {{ with .Params.potree.settings }}
        settingsData = JSON.parse({{ .|jsonify }})
        window.settingsData = settingsData
        // pointBudget
        if (typeof settingsData.pointbudget !== 'undefined')
          viewer.setPointBudget(settingsData.pointbudget);
        if (typeof settingsData.usehq !== 'undefined')
          viewer.useHQ = settingsData.usehq || false;
        // fov
        if (typeof settingsData.fov !== 'undefined')
          viewer.setFOV(settingsData.fov);
        // opacity
        if (typeof settingsData.opacity !== 'undefined')
          viewer.setOpacity(settingsData.opacity);
        // edlEnabled
        if (typeof settingsData.edlenabled !== 'undefined')
          viewer.setEDLEnabled(settingsData.edlenabled);
        // edlRadius
        if (typeof settingsData.edlradius !== 'undefined')
          viewer.setEDLRadius(settingsData.edlradius);
        // edlStrength
        if (typeof settingsData.edlstrength !== 'undefined')
          viewer.setEDLStrength(settingsData.edlstrength);
        // background
        if (typeof settingsData.background !== 'undefined')
          viewer.setBackground(settingsData.background);
        // minNodeSize
        if (typeof settingsData.minnodesize !== 'undefined')
          viewer.setMinNodeSize(settingsData.minnodesize);
        // bounding box
        if (typeof settingsData.showboundingbox !== 'undefined')
          viewer.setShowBoundingBox(settingsData.showboundingbox);
        
        


      {{ end }}
      viewer.loadSettingsFromURL()
      
      viewer.setDescription("{{.Title}}")
      
      viewer.loadGUI(() => {
          viewer.setLanguage('en')
          $("#menu_tools").next().show()
          $("#menu_clipping").next().show()
          // viewer.toggleSidebar();
      });
      
      // Load and add point cloud to scene
      Potree.loadPointCloud("{{ .Params.potree.url }}").then(e => {
          let scene = viewer.scene;
          let pointcloud = e.pointcloud;
          let material = pointcloud.material
          let materialSettings = settingsData.material || {}
          material.activeAttributeName = materialSettings.activeattribute || "rgba"
          material.minSize = materialSettings.minsize || 2
          material.pointSizeType = Potree.PointSizeType[materialSettings.pointsizetype||'ADAPTIVE']
          material.shape = Potree.PointShape[materialSettings.pointshape||'PARABOLOID']
          
          scene.addPointCloud(pointcloud)
          if (typeof settingsData.position === 'undefined' || typeof settingsData.target === 'undefined'){
            viewer.fitToScreen()
          }
          else {          
            let posTokens = settingsData.position.split(',');
            let px = parseFloat(posTokens[0]);
            let py = parseFloat(posTokens[1]);
            let pz = parseFloat(posTokens[2]);
            viewer.scene.view.position.set(
              px, py, pz)
           
            let targetTokens = settingsData.target.split(',');
            let tx = parseFloat(targetTokens[0]);
            let ty = parseFloat(targetTokens[1]);
            let tz = parseFloat(targetTokens[2]);
            viewer.scene.view.lookAt(new THREE.Vector3(tx, ty, tz));
            
          }


          
      })
      let toggleFullscreen = () => {
        console.log("toggling fullscreen")
        if (
            document.fullscreenElement ||
            document.webkitFullscreenElement ||
            document.mozFullScreenElement ||
            document.msFullscreenElement
          ) {
            if (document.exitFullscreen) {
              document.exitFullscreen()
            } else if (document.mozCancelFullScreen) {
              document.mozCancelFullScreen()
            } else if (document.webkitExitFullscreen) {
              document.webkitExitFullscreen()
            } else if (document.msExitFullscreen) {
              document.msExitFullscreen()
            }
          } else {
            let element = document.getElementById('potree_container')
            if (element.requestFullscreen) {
              element.requestFullscreen()
            } else if (element.mozRequestFullScreen) {
              element.mozRequestFullScreen()
            } else if (element.webkitRequestFullscreen) {
              element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT)
            } else if (element.msRequestFullscreen) {
              element.msRequestFullscreen()
            }
          }
      }
      let fullscreenIcon = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M4.75 4.5a.25.25 0 00-.25.25v3.5a.75.75 0 01-1.5 0v-3.5C3 3.784 3.784 3 4.75 3h3.5a.75.75 0 010 1.5h-3.5zM15 3.75a.75.75 0 01.75-.75h3.5c.966 0 1.75.784 1.75 1.75v3.5a.75.75 0 01-1.5 0v-3.5a.25.25 0 00-.25-.25h-3.5a.75.75 0 01-.75-.75zM3.75 15a.75.75 0 01.75.75v3.5c0 .138.112.25.25.25h3.5a.75.75 0 010 1.5h-3.5A1.75 1.75 0 013 19.25v-3.5a.75.75 0 01.75-.75zm16.5 0a.75.75 0 01.75.75v3.5A1.75 1.75 0 0119.25 21h-3.5a.75.75 0 010-1.5h3.5a.25.25 0 00.25-.25v-3.5a.75.75 0 01.75-.75z"></path></svg>';
      document.addEventListener('keydown', (e) => {
          if (e.keyCode === 9){
              viewer.toggleSidebar()
              e.preventDefault()
          }
          else if (e.keyCode === 70){
              toggleFullscreen()
              e.preventDefault()
          } 
      })
      let toggleFullscreenBtn = document.createElement('img');
        toggleFullscreenBtn.src = '{{ (resources.Get "screen-full.svg"|fingerprint).RelPermalink}}';
        toggleFullscreenBtn.onclick = toggleFullscreen;
        toggleFullscreenBtn.classList.add('potree_menu_toggle');
      document.getElementById('potree_quick_buttons').appendChild(toggleFullscreenBtn);  
        
    </script>
  <div>
</div>